body {
    margin: 0;
    background: #1B244A;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 80px;
}

.team h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 30px;
}

.score {
    width: 310px;
    height: 240px;
    background: #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.score span {
    font-family: monospace;
    font-size: 100px;
    font-weight: bold;
    color: #c71838;
}
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.buttons button {
    width: 90px;
    height: 90px;
}