body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}
span {
    display: block;
    margin-bottom: 10px;
}
#home-score-btn-minus{
    display: block;
    margin-top: 10px;
}
#guest-score-btn-minus{
    display: block;
    margin-top: 10px;
}